<html>
<p id="notice"><%= notice %></p>

<head>
    <title>Ogün Can Kaya</title>
</head>
<body>
    <header id="main_navigation" class="clearfix">
        <a href="#" class="name">Ogün Can Kaya</a>
        <nav>
            <%= link_to "Hakkımda", root_path %>
            <%= link_to "Articles", articles_path %>
            <%= link_to "Projelerim", projects_path %>
            <%= link_to "Projelerim", contact_path %>
        </nav>
    </header>

    <br>
    <div class="wrapper wrapper_padding clearfix">

    <div class="wrapper clearfix">

        <div class="col-5 homepage_content">
            <h2> Hakkımda </h2>
            <hr>
            <p> Merhaba </p>
        </div>
        <div class="col-4 homepage_content">
            <h2> Projeler </h2>
            <hr>
            <p> Merhaba </p>

            <p class="date"><a href="https://github.com/oguncan/RubyWebSite">
                Projeye Buradan Ulaşabilirsiniz.</a></p>

        </div>
        <div class="col-3 homepage_content">
            <h2> İletişim </h2>
            <hr>
            <p> Merhaba </p>
        </div>
    

    </div>
    </div> 
    <br/>
    <br/>
    <footer id="main_footer">
        <p class="copyright">&copy;2019 Ogün Can KAYA</p>
    </footer>

       

</body>


<br>


</html>
