<html>
<p id="notice"><%= notice %></p>

<head>
    <title>Ogün Can Kaya</title>
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,700"
    rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
<body>
    <header id="main_navigation" class="clearfix">
        <%= link_to "<span class='name'>Ogün Can KAYA</span>".html_safe, root_path %>
        <nav>
            <%= link_to "Yazılarım", posts_path %>
            <%= link_to "Projelerim", projects_path %>
            <%= link_to "İletişim", contact_path %>
            <p class="navbar-text pull-right"><% if user_signed_in? %> Logged in as<strong><%= current_user.email %></strong>.
            <%= link_to "Edit Profile", edit_user_registration_path, :class =>'navbar-link' %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class =>"navbar-link" %>
            <% else %>
            <%= link_to "Sign Up",new_user_registration_path, :class =>"navbar-link" %> | <%= link_to "Login", new_user_session_path, :class =>"navbar-link" %>
            <% end %></p>
                
            </p>
        </nav>
    </header>

    <br>
    <div class="wrapper wrapper_padding clearfix">

    <div class="wrapper clearfix">

        <div class="col-5 homepage_content">
            <h2> Hakkımda </h2>
            <hr>
            <p> Merhaba </p>
        </div>
        <div class="col-4 homepage_content">
            <h2> Yazılarım </h2>
            <hr>
            <% @posts.each do |post| %>
                <h3><a href="#"><%= link_to post.title ,post %></a></h3>
                <p class="date"><%= post.created_at.strftime("%A, %b, %d") %></p>
            <% end %>
        </div>
        <div class="col-3 homepage_content">
            <h2> İletişim </h2>
            <hr>
            <p> Ulaşsana Bana ↓ </p>
            <p>Fırat Üniversitesi</p>
            <p>Yazılım Mühendisliği</p>
            <p>oguncanlnx@gmail.com</p>
        </div>
    

    </div>
    </div> 
    <br/>
    <br/>
    <footer id="main_footer">
        <p class="copyright">&copy;2019 Ogün Can KAYA</p>
    </footer>

       

</body>


<br>


</html>
