s<html>
<p id="notice"><%= notice %></p>

<head>
    <title>Ogün Can Kaya</title>
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,700"
    rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
    <header id="main_navigation" class="clearfix">
        <%= link_to "<span class='name'>Ogün Can KAYA</span>".html_safe, root_path %>
        <nav>
            <%= link_to "Yazılarım", articles_path %>
            <%= link_to "Projelerim", projects_path %>
            <%= link_to "İletişim", contact_path %>
        </nav>
    </header>
    <div id="post_show_content" class="skinny_wrapper wrapper_padding">
        <header>
            <p class="date">20 Nisan 2019</p>
            <h1>Yapılacaklar Listesi</h1>
            <hr>
            
        </header>
        <div id="content">
            <p> Ne kadar oldu bu hayata geleli
                "Söyle, ne olacaksın büyüyünce" diye sorulan sorular tarih oldu,
                ama senin kafan hala dolu
                İşte benim, işte senin, işte onun diye paylaşıyorsun hayatı üç kuruş sevginle
                Ne? O da mı aldattı seni be?
                Eee? Ne kaldı geriye?
                Bak sen ne yazık ki klasik bir tablosun dostum
                Ne yaparsan yap boşsun
                Tamam okumuşsun, ama yetmez, sadece bununla dertler bitmez
                Çıkacaksın kabuğundan, bunalımdan kurtaracaksın kendini
                Ona göre yaşamayı bırakıp döneceksin gerçeklere,
                Ama önce:
                Bir kadın çizeceksin
                O'nun gibi bırakıp gitmeyecek
                Saklayıp gömeceksin (ki senden başka)
                Kimseler sevemeyecek
                Şimdi bunlar yetmez gibi bir de kendini aşka mı bıraktın, hadi be
                Bırak adam gibi şeylerle uğraşmayı
                Herkes gibi takıl yaşa hayatını
                Takılamıyorsan bile rol yap, ne yap et ama yarat kendi yalan dünyanı
                Çünkü bunlar para ediyor baksana sevgi bile yalan olmuş,
                Piyasada kavrulmuş, herkes kudurmuş,
                "Canım" dediğin bile arkandan vurmuş
                Tüm bunları bilerek yaşa ve sakın!
                Ama sakın içindekileri tüketeyim deme
                Bir gün gelecek göstereceksin kendini, sevgini, neler istediğini
                Şimdilik alacaksın eline kalemi, kusacak dökeceksin nefretini
                Bir kadın çizeceksin
                O'nun gibi bırakıp gitmeyecek
                Saklayıp gömeceksin (ki senden başka)
                Kimseler sevemeyecek
                Birden duracaksın soracaksın kendine
                Neden bu düzen böyle, neden herkes sahte
                Sonra bakacaksın, göreceksin çaren yok
                Devam edeceksin yalandan yaşamaya
                Bir kadın çizeceksin
                O'nun gibi bırakıp gitmeyecek
                Saklayıp gömeceksin (ki senden başka)
                Kimseler sevemeyecek
                Bir gün gelecek göstereceksin kendini, sevgini, neler istediğini
                Şimdilik alacaksın eline kalemi, kusacak dökeceksin nefretini
                Çıkacaksın kabuğundan, bunalımdan kurtaracaksın kendini
                Ona göre yaşamayı bırakıp döneceksin gerçeklere</p>
        </div>
        <div id="share_box">
            <p>Bu Postu Paylaş.</p>
            <i class="fa fa-facebook"></i>
        </div>
    </div>
    <br/>
    <br/>
    <footer id="main_footer">
        <p class="copyright">&copy;2019 Ogün Can KAYA</p>
    </footer>

       

</body>


<br>


</html>
