<html>
<p id="notice"><%= notice %></p>

<head>
    <title>Ogün Can Kaya</title>
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,700"
    rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
    <header id="main_navigation" class="clearfix">
        <%= link_to "<span class='name'>Ogün Can KAYA</span>".html_safe, root_path %>
        <nav>
            <%= link_to "Yazılarım", posts_path %>
            <%= link_to "Projelerim", projects_path %>
            <%= link_to "İletişim", contacts_path %>
        </nav>
    </header>
    <h1 class="page_title">Projelerim</h1>
    <div id="posts_wrapper" class="skinny_wrapper">
        <% @projects.each do |project| %>
        <div class="post">
            <p class="date"><%= project.created_at.strftime("%A, %B %d") %></p>
            <h2><a href="#"><%= link_to project.title, project %></a></h2>
            
            <hr>
        <% end %>
        </div>
        
    <%= will_paginate @projects %>    
    </div>
    <br/>
    <br/>
    <footer id="main_footer">
        <p class="copyright">&copy;2019 Ogün Can KAYA</p>
    </footer>

       

</body>


<br>


</html>
