<html>
<p id="notice"><%= notice %></p>

<head>
    <title>Ogün Can Kaya</title>
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,700"
    rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
    <header id="main_navigation" class="clearfix">
        <%= link_to "<span class='name'>Ogün Can KAYA</span>".html_safe, root_path %>
        <nav>
            <%= link_to "Yazılarım", posts_path %>
            <%= link_to "Projelerim", projects_path %>
            <%= link_to "İletişim", contact_path %>
        </nav>
    </header>
    <h1 class="page_title">Paylaşımlarım</h1>
    <div id="posts_wrapper" class="skinny_wrapper">
        <% @posts.each do |post| %>
            <div class="post">
                <p class="date"><%= post.created_at.strftime('%A, %B %d') %></p>
                <h2><a href="#"><%= link_to post.title, post %></a></h2>
                <hr>
            
            </div>
        <% end %>
        
        <%= will_paginate @posts %>
        
    </div>
    <br/>
    <br/>
    <footer id="main_footer">
        <p class="copyright">&copy;2019 Ogün Can KAYA</p>
    </footer>

       

</body>


<br>


</html>
